# Сборка Cargo
/target/
**/*.rs.bk

# Артефакты сборки/экспорта
*.zip
*.json
*.sqlite
*.db
*.lock

# IDE и окружение
.idea/
.vscode/
*.swp

# Локальные настройки окружения
.env
*.env

# Файлы логов
*.log

